{{ form_start(form) }}
    {{ form_widget(form) }}
<label for="address_city" class="required">Телефон</label>
<input type="tel" id="address_phone" name="address[phone]" minlength="13" maxlength="13" required="required" class="form-control" pattern="^(\+375|80)(29|25|44|33)(\d{3})(\d{2})(\d{2})$">
<div class="text-center row">
    <button class="btn btn-success my-3 w-100" style="display: inline; width: 98.3% !important; margin-left: auto; margin-right: auto; text-align: center;">{{ button_label|default('Сохранить') }}</button>
</div>
{{ form_end(form) }}
<script>
    let inp = document.querySelector('#address_phone');

    // Проверяем фокус
    inp.addEventListener('focus', _ => {
        // Если там ничего нет или есть, но левое
        if(!/^\+\d*$/.test(inp.value))
            // То вставляем знак плюса как значение
            inp.value = '+375';
    });

    inp.addEventListener('keypress', e => {
        // Отменяем ввод не цифр
        if(!/\d/.test(e.key))
            e.preventDefault();
    });
</script>
