{% extends 'main.addition.html.twig' %}

{% block title %}Вопрос-ответ{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="blog__wrap clearfix mt--60 xmt-30">
                <ul class="accordion list-style static-indent"
                    style="margin: 0px; padding: 0px 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 12px; line-height: 14px; font-family: Verdana, sans-serif; color: #333333;"
                    data-tags="acc-faq">
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">
                                Каковы условия использования сайта STROY-BEL?</strong></div>
                        <p class="whitesmoke-block first"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Сайт распространяется во всемирной компьютерной сети Интернет и включает в себя информацию, материалы
                            и данные, предоставляемые ООО СТРОЙ-БЕЛ и третьими лицами.
                        </p>
                        <p class="whitesmoke-block first"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Пользователем является физическое лицо, зарегистрированное на Сайте, являющееся одной из сторон
                            настоящего Соглашения. Доступ Пользователя к Сайту (то есть ввод Пользователем своего логина и
                            пароля в систему авторизации Сайта и авторизованный вход Пользователя на Сайт) означает, что
                            Пользователь принимает и обязуется соблюдать все нижеприведенные условия настоящего Соглашения.
                        </p>
                        <p class="whitesmoke-block first"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Регистрация или авторизация пользователя для совершения покупок на сайте STROY-BEL является
                            обязательной. Для регистрации Пользователь обязуется предоставить достоверную и полную информацию о
                            себе по вопросам, предлагаемым в форме регистрации, а также поддерживать эту информацию в актуальном
                            состоянии.
                        </p>
                    </li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">Каким образом можно забрать товар?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            На данный момент мы осуществвляембесплатную доставку товаров по всей Беларуси. При заказе товара обязательно согласуйте с
                            менеджером время, когда вы сможете получить заказ. Оплата товара производится
                            наличными деньгами или с помощью банковской карточки. После проверки и оплаты
                            покупки Вам выдадут чек и гарантийный талон.</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">Где находится ваш офис?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Адрес нашей регистрации: г.Минск ул.Гикало 9. Время работы: 09.00 - 18.00 кроме
                            воскресенья.</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">Вы работаете по выходным и праздникам?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Мы работаем ежедневно, доставляем во все рабоие дни недели.</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">Вы даёте гарантию на продаваемый товар?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Весь реализуемый в нашем магазине товар является официально ввезенным на территорию РБ,
                            поэтому у нас официальная гарантия на товар.</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">В какой валюте осуществляется оплата заказа?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Все расчеты осуществляются только в белорусских рублях.</p></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
