{#<link href="{{ asset('css/product.css') }}" rel="stylesheet"/>#}
<body>
<title>Adding employee</title>
<form action="">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value=""><br>
    <label for="fname">Patronic name:</label><br>
    <input type="text" id="pname" name="pname" value=""><br>
    <label for="birthdate">Date Of Birth:</label><br>
    <input type="date" id="birthdate" name="birthdate" value=""><br>
    <label for="city">City:</label><br>
    <select id="city" name="city">
        {% for item in city %}
            <option>{{ item }}</option>
        {% endfor %}
    </select><br>
    <br>
    <input type="submit" value="Submit">
</form>
<a style="color: red" href={{'/employee/list'}}>{{ 'To main page' }}</a>
</body>