{% extends 'mainError.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div style="position: relative;
    min-height: 37vh;
height: 100%;
  "><p style="margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
font-size: 30px">Запрошенная страница не найдена. Проверьте опечатки в URL или
            <a href="{{ path('main') }}">вернитесь на домашнюю сраницу</a></p></div>
    <!-- Start Feature Product -->
    <!-- Start Our Product Area -->

    <!-- Start Blog Area -->
{% endblock %}
